/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* A borda faz parte do tamanho expecificado para o elemento */
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400; /* Fonte em negrito com peso 400 */
    font-size: 16px;
    line-height: 1.7; /* Espaçamento entre as linhas */
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba(126, 213, 111, 0.8), 
        hsla(160, 64%, 43%, 0.8)),  
        url(../img/hero.jpg);
    background-size: cover; /* Faz com que a imagem preencha todo o container mantendo a proporção */
    background-position: top; /* Faz com que a imagem fique sempre colada no topo, e diminua a parte de baixo para manter a proporção de acordo com o tamanho do navegador */
    position: relative; /* Para indicar que o top e o left do logo-box tem como referencia esse container */

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /* Ferramenta CSS para ajustar um container, podendo desenha-lo e mudar sua forma geometrica */
}

.logo-box {
    position: absolute; 
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 60px;

    /*backface-visibility: hidden;  Utilizado para quando a animação tem um pequeno tremor no final */
}

.heading-primary-main {
    display: block; /* Blocos ocupam toda a largura disponivel, isso faz com que a outra linha vá para baixo */
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    animation-name: moveInLeft;
    animation-duration: 2s;
    
    /*
    animation-delay: 2s; Demora dois seg para acontecer
    animation-iteration-count: 2; Acontece duas vezes
    animation-timing-function: ; (Tem algumas funcoes prontas para velocidade da animação)
    */
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;

    animation-name: moveInRight;
    animation-duration: 2s;
}

/* ANIMAÇÃO DO TITULO DO HEADER */
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/* BOTÃO */

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block; /* block pegaria toda a largura, o inline mantem ajustado, e permitindo informar o tamanho*/
    width: 300px; /* É possivel ajustar a largura por conta do inline-block */
    border-radius: 35px;
    transition: all .2s; /* Tempo de transição para a animação do botão */
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}